---
layout: minimal
---

<h1>{{ page.title }}</h1><h6>

<h6><a href="/">Zurück zur Startseite</a></h6>

{{ content }}

{% if page.image %}
<p><img src="{{ page.image }}" alt="{{ page.title }}" style="border: 1px solid #000;"></p>
{% endif %}

{% if page.source contains "https://" %}
    <p><a href="{{ page.source }}" target="_blank">Link zum Originalrezept</a></p>
{% else %}
    <p>{{ page.source }}</p>
{% endif %}

{% if page.servings %}
<h2>Zutaten für {{ page.servings }} Portionen</h2>
{% else %}
<h2>Zutaten</h2>
{% endif %}

<ul>
    {% for ingredient in page.ingredients %}
        <li>{{ ingredient.amount }}{{ ingredient.unit }} {{ ingredient.name }}</li>
    {% endfor %}
</ul>

<h2>Zubereitung</h2>
<ol>
    {% for task in page.instructions %}
        <li>{{ task }}</li>
    {% endfor %}
</ol>
