---
layout: minimal
---

<h1>{{ page.title }}</h1><h6>

{{ content }}

{% if page.labels %}
    {% assign classes = "label-blue,label-green,label-purple,label-yellow,label-red" | split: "," %}
    {% for label in page.labels %}
        {% assign class = classes | sample %}
        <p class="label {{ class }}">{{ label }}</p>
    {% endfor %}
{% endif %}

{% if page.image %}
<img src="{{ page.image }}" alt="" style="border: 1px solid #000;" />
{% endif %}

{% if page.source contains "https://" %}
    <p><a href="{{ page.source }}" target="_blank">Link zum Originalrezept</a></p>
{% else %}
    <p>{{ page.source }}</p>
{% endif %}

{% if page.additional_info %}
<h2></h2>
<p id="info-callout" class="info" style="display: block">{{ page.additional_info }}</p>
{% endif %}

{% if page.servings %}
<h2>Zutaten für {{ page.servings }} Portionen</h2>
{% else %}
<h2>Zutaten</h2>
{% endif %}

<ul>
    {% for ingredient in page.ingredients %}
        <li>
            {% assign quoted_units = "Dose,Dosen,Knolle,Knollen,Prise,Prisen,Zehe,Zehen,Zweig,Zweige" | split: "," %}
            {% if quoted_units contains ingredient.unit %}
                <!-- Notice the " " between ingredient.amount and ingredient.unit -->
                {{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }}
            {% else %}
                {{ ingredient.amount }}{{ ingredient.unit }} {{ ingredient.name }}
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h2>Zubereitung</h2>
<ol>
    {% for task in page.instructions %}
        <li>{{ task }}</li>
    {% endfor %}
</ol>
