---
layout: minimal
---
<h1>{{ page.title }}</h1>

{% if page.labels %}
    {% assign classes = "label-blue,label-green,label-purple,label-yellow,label-red" | split: "," %}
    {% for label in page.labels %}
        {% assign class = classes | sample %}
        <p class="label {{ class }}">{{ label }}</p>
    {% endfor %}
{% endif %}

{% if page.image %}
<img src="{{ page.image }}" alt="" width="100%" style="border: 1px solid #000;" />
{% else %}
<img src="/assets/imgs/placeholder.jpg" alt="" width="100%" style="border: 1px solid #000;" />
{% endif %}

{% if page.source contains "https://" %}
<p class="text-small mb-1 mt-1"><a href="{{ page.source }}" target="_blank">Link zum Originalrezept</a></p>
{% else %}
<p class="text-small mb-1 mt-1">Kein Link zum Originalrezept ¯\_(ツ)_/¯</p>
{% endif %}

<p class="text-small mb-1 mt-1"><a href="https://wa.me/?text={{ page.title | url_encode }}%20{{ page.url | absolute_url | url_encode }}" target="_blank" rel="noopener">Über WhatsApp teilen</a></p>
<p class="text-small mb-1 mt-1"><a href="#" id="copy-url">Link kopieren</a></p>        

{% if page.info %}
<p id="info-callout" class="info">{{ page.info }}</p>
{% endif %}

{% if page.servings %}
<h2>Zutaten für {{ page.servings }} Portionen</h2>
{% else %}
<h2>Zutaten</h2>
{% endif %}

<ul>
    {% for ingredient in page.ingredients %}
        <li>
            {% assign spaced_units = "Blatt,Blätter,Dose,Dosen,Knolle,Knollen,Packung,Packungen,Prise,Prisen,Zehe,Zehen,Zweig,Zweige" | split: "," %}
            {% if spaced_units contains ingredient.unit %}
                <!-- Notice the " " between ingredient.amount and ingredient.unit -->
                {{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }}
            {% else %}
                {{ ingredient.amount }}{{ ingredient.unit }} {{ ingredient.name }}
            {% endif %}
        </li>
    {% endfor %}
</ul>

<h2>Zubereitung</h2>
<ol>
    {% for instruction in page.instructions %}
        <li>{{ instruction }}</li>
    {% endfor %}
</ol>

<script src="/assets/js/copyUrl.js"></script>
